.container {
    background: #f2f2f2;
    height: 100%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.content {
    padding-left: 8px;
    flex: 1;
    overflow-y: auto;
}

.content-wrap {
    height: 100%;
}

@media (min-width: 700px) {
    .content-wrap {
        display: flex;
    }
    .content-filter{
        width: 25%;
    }
}

@media screen and (min-width: 1024px) {
    .content-filter{
        width: 15%;
    }
}
